.btn-topo {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 48px;
  height: 48px;

  background: #b6f829;
  color: #000;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  text-decoration: none;

  opacity: 0;
  visibility: hidden;
  transform: translateY(16px) scale(0.9);

  transition:
    opacity 0.4s ease,
    transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);

  z-index: 9999;
}

.btn-topo.mostrar {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}


@media (hover: hover) {
  .btn-topo:hover {
    transform: translateY(-4px) scale(1.05);
  }
}

.btn-topo:focus {
  outline: 2px solid #000;
  outline-offset: 3px;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 768px) {
  .btn-topo {
    right: 16px;
    bottom: 16px;
    width: 56px;    
    height: 56px;

    font-size: 1.7rem;
  }
}
