.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
  border-radius: 12px;
  transition: background-color 0.3s, color 0.3s;
}

.header-menu a:hover {
  background-color: #b6f829;
  color: #141414;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  .header-menu a {
    background: #f5f5f5;
  }
}

